@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.picture__input {
  display: none;
}

.link-tree{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: rgba(250, 246, 246, 0.866);
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.08);
  padding: 5px 100px;
}
