@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

html{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.link-tree{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  width: 50%;
  height: 400px;
  background: rgb(62, 33, 104);
}

.link-tree > a{
  text-align: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  font-family: 'Roboto Slab', serif;
  font-size: large;
  width: 100%;
  padding: 10px 0px;
  text-decoration: none;
  color: rgba(250, 246, 246, 0.866);
  transition: all 0.2s ease-in-out;
}

.link-tree > a:hover {
  background-color: crimson;
}
